@charset "utf-8";
/*Les différentes polices du site*/
@font-face {
    font-family: 'chernobylregular';
    src: url('../font/chernobyl-webfont.woff2') format('woff2'),
         url('../font/chernobyl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'headline_onehplhs';
    src: url('../font/headoh__-webfont.woff2') format('woff2'),
         url('../font/headoh__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

section{max-width: 1280px;}/* On limite la taille de l'écran à 1280px*/
.bodyaccueil div{max-width: 1280px;}

* /*Avant de début on enlève toutes les marges de base*/{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/*On personnalise les titres: police, taille de la police, couleur*/
h1{
  font-family: 'chernobylregular';
  font-size: 2.5em;
  color: #293C40;
}
h2{font-family: 'headline_onehplhs'; 
  color: #293C40;
  font-size: 2em;
}
h3{color: #293C40;
}
/*<------------------------   HEADER   ----------------->*/
header /* Le header prend toute la largeur et on ajuste sa couleur de fond. On ajoute une marge interne de 9px pour que le titre ne soit pas coller en haut de l'écran*/{
	color:  #F2F2F2;
	width: 100%;
	background-color: #293C40;
  padding-top: 9px;}
header a { /*On enlève le soulignement sur les liens*/
  text-decoration: none;}
header h1 /*On ajoute le titre de la serie qui se trouve dans l'entête et on le place au milieu*/{
  font-size: 4em;
  color: white;
  text-align: center;}
  hr
{ /*On "stylise" les éléments de séparation entre en-tête et navigation et entre navigation et corps de la page*/
  width: 100%;
  height: 5px;
  background-color:  #F2F2F2;}

/*<------------------------   NAV   ----------------->*/

nav { /*On affecte la bonne police, la bonne couleure de fond. La navigation doit prendre toute la largeur et 100% de son contenu.*/
  display: inline-block; 
  font-family: 'headline_onehplhs';
  background-color: #293C40;
  width:100%;
  height: 100%;
  text-align: center;
  padding-top: 12px; /*On ajoute une marge interne pour que la navigation ne soit pas collée à la barre de séparation (<hr>)*/
}
nav ul{list-style: none;} /* On enlève les points de liste a puce devant les titres */

nav a { /*On ajuste la taille des liens vers les différentes pages, leur couleure et on ajoute une marge interne pour espacer le tout pour une raison d'esthétique. */
  display: inline-block;
  color:  #F2F2F2 ;
  text-decoration: none;
  font-size: 1.6em;
  background: #293C40;
  padding: 8px 15px;
  text-align: center;
  width: 100%;}

.active /*On souligne le liens de la page sur laquelle nous navigons*/{
  text-decoration: underline;}
.sous{ /*On cache les sous parties*/
  position: absolute;
  display: none;} 
li:hover ul.sous /*On les affiches lorsque l'on survole la catégorie à laquelle ils appartiennent*/
{
  opacity: 1;
  top: 2.5em; /*On ajoute un espace au dessus des sous-parties afin qu'ils ne chevauchent pas les titres principaux*/
  display: block;
  width: 100%;
  font-size: 1em;
}

.menu li { /*On ajuste les blocks qui continne les liens. Ils prennent chacun 16% de la largeur*/
    float:left; /*On les fait tous flotter à gauche pour qu'ils s'affichent les uns apres les autres sur la même ligne*/
    width:16%;
    position: relative;}

.sous li {/*Les blocks qui continennent les liens des sous-parties doivent contenir 100% de leur contenu.*/
    width: 100%;}

nav a:hover {/*On souligne les liens au survol*/
  text-decoration: underline;
}

/*<------------------------   MENU BURGER   ----------------->*/
#hamburger, #hamburger-content{ 
    display: inline;
}
#hamburger-button{ 
    display: none;
    background: #F2F2F2;
    font-size: 3em;
    padding: 0;
    vertical-align: top;
    line-height: 1px;
    float: left;
    width: 8%;
    height: 50px;
    cursor: pointer;
    margin:0;
    z-index: 20;
    border: solid 1px #293C40;
}


#hamburger-overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    display: none;
}

#hamburger-sidebar{
    display: none;
    position: fixed;
    width: 70%;
    z-index: 20;
    height: 100%;
    top:10%;
    left: 0;
    padding: 0;
    background-color: #293C40;
    transform: translateX(+200%);
    transition: transform .4s ease-out;
    overflow: scroll;
  }
#hamburger-sidebar li{
    display: block;
    float: none;
    border: solid 1px #F2F2F2;
}
#hamburger-sidebar-body{
    padding: 16px 8px;
}
/*<------------------------   FIN DE NAV   ----------------->*/

/*<------------------------   COMMUN A TOUTES LES PAGES (SAUF ACCUEIL)   ----------------->*/
#body3 /*On ajoute une image de fond qui ai commune sur toutes les pages exeptée la page d'accueil. Ce fond couvre toute la page*/{
  background: url("../img_/fond.jpg")  no-repeat fixed;
  background-size: cover;
}
.cadre /*On ajoute un cadre centrale qui contient toutes les informations des pages. Il est également communs à  toutes les pages*/{
  width: 75%; /*Ce cadre prend 75% de la largeur de la page, a des bordures et a une couleur de fond spécifique. Il est légèrement transparent*/
  background-color: #F2F2F2;
  opacity: 0.85;
  border: solid 3px black;
  border-radius: 20px;
  margin: 6% auto 3% auto; /*On l'écarte un petit peu de la barre de navigation et du footer et on ajoute des marges internes */
  padding: 20px 0 20px 15px; /*On ajoute des marges internes pour écarter le contenue de la section du bord à gauche, en haut et en bas*/
  overflow: auto;
}
.cadre p{ /*Le texte qui est dans cette section doit être de la police 'Lato' et d'une couleur blache*/
  color:  #293C40 ;
  font-family: 'Lato', sans-serif;
}
.lien a{ /*On met les liens qui sont présents dans le corps de la page en gras, d'une certaine police et couleur et on annule le soulignement*/
  color: #5A735D;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
.lien a:hover /*Lorsque l'on survol les liens, ces derniers se soulignent*/{
  text-decoration: underline;
}
.center{ /*Cette classe permet tout simplement d'aligner au milieu les élément qu'elle contient (elle sera appliquée à quelque page telle que la page 'galerie'*/
  text-align: center;
}

/*<------------------------   Page ACCUEIL   ----------------->*/
#background1{/* Les blocs background 1 et 2 vont nous permettre de contenir l'effet parallax.*/
	background: url("../img_/chernobyl.jpg") fixed no-repeat;
  background-size: 100%; /*On ajoute une image de fond qui prend toute la largeur de la page*/
  width: 100%; /*Le bloc prend l'ensemble de la page en largeur et 430px en hauteur pour voir suffisament l'image de fond et avoir un bon rendu de l'effet parallax*/
	height: 430px;
	color: #293C40;
}
#titre{
  padding: 25% 0 0 2%; /*On place au bon endroit le titre de la série sur la première page du parallax*/
  font-size: 5em;
}
#background2{
	background-color: #293C40; /*On ajuste le deuxième bloc et l'image qu'il contient*/
	width: 100%;
	height: 590px;
}
#background2 img{
	margin: 10% 0px 0px 8%;
}
.synopsis { /*On place correctement le titre "Synopsis"*/
  text-align: center;
  width: 40%;
	margin: 10% 10% 2% 0%;
  color:  #F2F2F2 ;
	float: right;
  font-size: 3em;
}
#background2 p{ /*Le texte qui présente le synopsis de la série se trouve à la droite de la photo et on lui fait prendre 40% de la largeur*/ 
  color:  #F2F2F2 ;
  float: right;
  margin: 0% 10%;
  width: 40%;
  font-family: 'Lato', sans-serif;
}

/*<------------------------   Pages TRAILER; PERSONNAGES ET ACTEURS   ----------------->*/
.trailer h2{ /*On ajoute une marge pour espacer les titres des vidéos*/
  margin-bottom: 15px;
  margin-top: 20px;
}
.perso p{/*On fait en sorte que le texte contenu dans le corps de la page prenne 43% de la largeur et qu'il flotte à droite */
  width: 43%;
  margin-right: 2%; /*Permet d'espacer le test avec la bordure de la section*/
  color:  #293C40 ;
  float: right;
  font-family: 'Lato', sans-serif;
}
.nomPerso{ /*On met en gras les noms des personnages/acteurs et on grossit l'écriture*/
  font-weight: bold;
  font-size: 2em;
}

/*<------------------------   Page HISTOIRE VRAIE   ----------------->*/
.histoireV{ /*Le texte de cette page prendra 80% de la section qui le contient*/
  width: 80%;
  margin: auto;
}
/* Le conteneur des slides */
.slideshow-container { /*On ajuste sa taille pour que le diaporama ne prenne que 75% de la largeur de la section, on met des marges automatiques*/
  max-width: 75%;
  position: relative;/*On le place en position relatif pour pouvoir placé une légende*/
  margin: auto;
}
.text { /*La légende de chauqe photo. On met la bonne couleur de police et de fond. Cette légende couvre la totalité de l'image et le texte qu'elle contient est centré.*/
  color: #f2f2f2;
  width: 100%; 
  text-align: center;
  background-color: #293C40;
  font-size: 15px;
  padding: 8px 12px; /*On ajoute une marge interne pour un aspect esthétique*/
  position: absolute; /*La position absolue permet à la légende de se trouver sur le diaporama*/
  bottom: 4px; /*On place la légende sur la photo et l'écartant du bas de la section*/
}

/* Les numéros des slides (1/3) etc. Ils seront de la même couleur que la légende et se situeront en haut à gauche des images*/
.numbertext {
  color: #293C40;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  transition: background-color 0.6s ease;
  display: none;
}


/* Fading animation : permet l'execution de l'animation*/
.fade { 
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*<------------------------   Pages GALERIE; RECOMPENSES; CRITIQUES ----------------->*/
.galerie img{ /*Les images présentent sur la page galerie feront 30% de la largeur afin de pouvoir en positionner 3 sur la même ligne. */
    width: 30%;
  margin: 20px 2% auto 5px; /*On ajoute une marge à chaque image pour les écarter les une des autres*/
}
audio{
  text-align: center;
}
.galerie h2{
  margin-top: 40px;
  font-size: 1.5em;
}
.recompenses p{ /*Les paragraphes de la page récompenses se trouvent à gauche de l'image correspondante et couvrent 60% de la section.*/
  width: 60%;
  float: right;
  margin-right: 5%; /*On ajoute une marge à droite pour pas que le texte soit collé au bordure de la section.*/
}

/*<------------------------   Pages QUIZZ; CONTACTS ----------------->*/
.quizz form h2 /*On augmente la taille des titres 'Question N' et on les espace légèrement de ce qu'il y a au dessus*/
{margin-top: 25px;
  font-size: 2em;
}
.quizz button{ /*On augmente la taille de la police du bouton d'envoie et on la met de la bonne couleur*/
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  color: #293C40;
  padding: 5px; /*On aère le cadre d'envoie pour une question d'esthétique*/
}

.quizz label{ /*On met les réponses aux questions de la bonne couleur et on ajoute une marge à gauche pour les incrémenter par rapport à l'intitulé de la question*/
  color: #293C40;
  margin-left: 20px;
}
.quizz form{ /*On ajoute une marge à gauche du questionnaire pour l'espacer de la bordure*/
  margin-left: 20px;
}
#grade{/*On agrandit le texte réponse qui donne la note obtenue au quizz et on le met au milieu*/
  margin-left: 45%;
  font-size: 2em;
}
/*CONTACT*/
.participants img { /*Pour la page contact, on affiche les photos des trois participants à la réalisation de ce site.*/
   border: solid 2px black; /*On ajout une bordure noir autour des photos et on les espaces.*/
   width: 70%;
   margin: 20px 0 0 20px;
 }

.participants figure{ /*On adapte les blocs qui contiennent les images. On les fait flotter tous à gauche pour les aligner sur la même ligne*/
  width: 30%; /*On fait prendre 30% de la largeur à chaque bloc pour avoir la place de tous les mettre sur une même ligne*/
  float: left;
  text-align: center; 
  font-weight: bold;
  }
  .photo_mail{
    margin-bottom: 40px; /*On ajoute un espace entre la photo et le formulaire pour aérer le tout*/
  }
  .contact h2{ /*On agrandit les titres de la page contact (cela va concerner qur le 'votre avis nous intéresse')*/
    font-size: 2em;
  }
  .contact form{ /*Lez formulaire prend 90% de la largeur de la section avec des marges automatiques qui le centre.*/
    width: 90%; 
    margin: auto;
  }
  .contact fieldset{ /*On décolle les éléments du formulaire de la bordure de gauche*/ 
    padding-left: 10px;
    color: #293C40;   
  }
  .statut input{ /*On aère les réponses des sections 'statut' et 'age' en ajoutant une marge à gauche de chacune*/
    margin-left: 5%;
  }
  .contact input, textarea{ /*L'écriture dans les zones de texte sera d'une couleur spéciale et les bordure autour des cadres de réponses seront visibles et de la même couleur.*/
    color:  #293C40;
    border: solid 0.1em #293C40;
    padding:5px 0 5px 5px; /*On aère les cadres réponses*/
  }
  .envoie{ /*On personnalise le bouton d'envoie.*/
    width: 20%;
    font-size: 1em;
    font-weight: bold;
  }
  

/*<------------------------   FOOTER   ----------------->*/
footer{/*On fait en sorte que le footer fasse toute la largeur et contienne l'ensemble de ses éléments et ajoute les spécificitées (couleurs, taille de la police..)*/
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #D7DBD5;
  font-family: 'headline_onehplhs';
  font-size: 1.4em;
  padding-top: 15px; /*On écarte le contenu de 15px en haut afin qu'il ne soit pas coller en haut du footer*/
}
footer a{ /*On enleve le soulignement des liens et on leur met la bonne couleur*/
  text-decoration: none;
  color: #293C40;
}
footer a:visited{ 
  color: #293C40;
}
footer img{ /* On adapte la taille des images qui renvoient vers les réseaux sociaux de l'UTT et on ajoute des marge avant de les espacer*/
  height: 18px;
  margin-left: 18px;
  margin-top: 2px; 
}
footer figcaption /*On place correctement les noms des réseaux sociaux*/
{
  font-size: 10px;
  margin-left: 47%;
    margin-top: 2px; 
}
#logoC /*Ce bloc contient les images et les noms des réseaux, On le place correctement.*/
{
  float: left;
  margin-left: 30%;
    margin-top: 2px; 
    color: #293C40;
}
#hautdepage /*On place le lien renvoyant vers le haut de la page*. On le fait flotter à gauche pour qu'il s'aligne avec les éléments précédents*/
{
  float: left;
  margin-left: 5%; 
    margin-top: 2px; 
}
/*<------------------------   FIN DE FOOTER   ----------------->*/






/*<--------------------------------------  MODE TABLETTE   ---------------------------->*/
@media screen and (max-width: 768px){ 
    
    /*<------------------------   MENU BURGER TABLETTE   ----------------->*/
    #hamburger-button{ /*On espace le bouton de la bordure de la page*/
      margin-right: 20px;
    }
    #hamburger-content{/*On affiche pas le contenu du menu lorsque l'on navigue sur la page*/
        display: none;
    }
    #hamburger-button,#hamburger-sidebar,.hamburger-activated #hamburger-overlay{/*On affiche le menu lorsque l'on clique sur le bouton burger. on aligne le menu burger a droite*/
        display: block;
        float: right;
        color:  #293C40;
    }
    .hamburger-activated #hamburger-sidebar{/* Lorsque l'on clique sur le menu on met une animation qui le fait apparaitre de droite a gauche et se stoppe a droite de la page*/
        transform: translateX(45%);
    }
    .menu li {
    float:left;
    position: relative;
    width:100%;
    }
    ul.sous { /*On affiche les sous parties (qui n'était visible qu'au survol en mode ordinateur)*/
        opacity: 1;   
        display: block;
        width: 100%;
        z-index: 20;
    }
    .sous a{ /*On échange couleur de fond/ couleur de texte des sous-parties pour les différencier des grandes parties*/
          background: #F2F2F2; 
        color:#293C40;
        border: 1px solid #293C40;
        width: 100%;
    }
    .last{ /*On ajoute une marge a la dernière partie pour pouvoir la voir en entier lorsque l'on scroll sur le menu burger*/
      margin-bottom: 20%;
    }
    .apres{margin-top: 95px;}/*On ajoute une marge au dessus des parties qui succèdent les sous-parties afin de la place pour que les sous-parties s'affichent.*/

    .hrtitre{display: none;}/*Pour une question d'esthétique on ne fait pas apparaître la barre de séparage entre le titre de la série et de la navigation*/   
    /*<------------------------   FIN DU MENU BURGER TABLETTE   ----------------->*/

    /*<------------------------   PAGES TABLETTE   ----------------->*/
    header{/*La marge interne inférieure permet d'espacer le titre et la fin du header. On le met en position fixe pour qu'il suive le menu burger lorsque celui-ci est déroulé*/
      padding-bottom: 1%;
      position: fixed;
      z-index: 20; /*Ceci permet de mettre le header par dessus le contenu de la page*/
    }section h2, section h1{/*Du fait que l'on ai mis header en position fixe on décale les titres des pages afin qu'ils apparaissent sous le menu*/
      margin-top: 40px;
    }
    header h1{ /*On modifie le titre de la série dans le header en le plaçant à gauche tout en gardant un espace avec le bord*/
      font-size: 3em; float: left; margin-left: 30px;
    }
    #titre{ font-size: 3em; padding: 40% 0 0 2%;/*On diminue la taille des titres présent sur la page d'accueil et les places correctement*/
    }
    .synopsis{width: 50%;font-size: 1.3em; 
    }
    #background2 p{width: 40%; font-size: 1em;/*On ajuste le bloc qui contient le synospsis sur la page d'accueil en lui faisant prendre 50% de la largeur et en diminuant la taille de la police*/
    }
    #background2 img{width: 32%; margin-top: 10%;/*On diminue la photo en lui faisant prendre 32% de la largeur et on l'espace du haut du bloc.*/
    }
    #background2{height: 450px; /*On ajuste la hauteur du bloc*/
    }
    .cadre{border: none; width: 100%; height: 100%; opacity: 75%; /*On enlève les bordures aux sections présentes sur toutes les pages hormis celle d'accueil. On demande à la section de prendre toute la largeur et la hauteur. On met une transparance de 75%;*/
    }
    .cadre h1{font-size: 2em; /*On change la taille des titres des pages*/
    }
    iframe{width: 90%/*On ajuste correctement la taille des vidéos pour la page trailer*/
      }
    .perso p{width: 40%;font-size: 0.9em;margin-top: 0; /*On ajuste la taille de la police selon les pages*/
    }
    .recompenses p{font-size: 0.5em; 
    }
    .critiques p{font-size: 0.7em;
    }
      

      /*<------------------------   FOOTER TABLETTE   ----------------->*/ 
footer{font-size: 1em;/*On diminue la taille du texte du footer, on espace les logos et on place correctement leur légende */
}
#logoC{margin-left: 10%;
}
footer figcaption{margin-left: 50%; font-size: 8px;
}

}



/*<--------------------------------------  MODE MOBILE   ---------------------------->*/

@media screen and (max-width: 425px) {
      /*<------------------------   MENU BURGER MOBILE   ----------------->*/
  #hamburger-sidebar{ /*En mode mobile le menu burger occupe toute la page lorsqu'il se déroule. On le décale du haut pour qu'il se place sous le header*/
      width: 100%;
      top:11%;}
   .hamburger-activated #hamburger-sidebar{/*On modifie la transition pour qu'en se déroulant le menu burger aille jusqu'à tout à gauche.*/
        transform: translateX(0%);
    }
    #hamburger-button{ /*On ajuste les dimensions du bouton burger pour l'esthétique*/
      width: 11%;
      height: 40px;
      font-size: 2.5em;
      }

    /*<------------------------   PAGES MOBILE   ----------------->*/
    header{/*On ajuste la hauteur du header pour qu'il contienne bien tout le titre et le menu*. On diminue la taille du titre de la série*/
       height: 55px;
    }
    header h1{
      font-size: 2.3em;
      margin-top: 4px;
    }
    #background1{ /* Pour la page d'accueil On adapte les blocs au mode mobile*/
      background-size: contain;
      height: 200px;
    }
    #titre{ font-size: 2em; padding: 30% 0 0 2%; /*On diminue encore les titres et on les replaces si nécessaires*/
    }
    #background2 p{
      font-size: 0.7em;
    }
    #background2{
      height: 350px;
    }
    .cadre h1{font-size: 1.5em; /*On diminue également la taille des titres principaux des pages et de la police des textes pour les différentes pages*/
    }
    .perso p{width: 45%;font-size: 0.4em;margin-top: 0; 
    }
    .perso img{width: 48%;
    }
    .histoireV{font-size: 0.6em;
    }
    .quizz label, .quizz p{font-size: 0.8em; /*On modifie le quizz en baissant la taille de la police pour les questions et le bouton d'envoie*/
    }
    #form h2{
      font-size: 1.3em;
    }
    #form button{font-size:1em;
    }
    .contact textarea{width: 95%; /*Pour le questionnaire on adapte la taille du commentiare pour qu'il s'affiche correctement à l'écran*/
    }
    .contact h2{font-size: 1.5em; 
    }
    .contact, .contact input{font-size: 0.8em;
    }

     /*<------------------------   FOOTER MOBILE   ----------------->*/
    footer{font-size: 0.7em;} /*On adapte la taille de la police et les espaces pour le footer en mode mobile*/
    #logoC{margin-left: 5%;}
    footer figcaption{margin-left: 42%; font-size: 5px;padding-left: 5%;}
    footer img{height: 10px; width: 10px; margin-top: 0;}
    
}